# Libraries to import

In [1]:
import pandas as pd
import boto3
import json

# Make sure you have your own AWS secret and access key to run the following code
- Create a new IAM user in your AWS account
- Give it `AdministratorAccess`, From `Attach existing policies directly` Tab
- Take note of the access key and secret 
- Edit the file `dwh.cfg` in the same folder as this notebook and fill
<font color='red'>
<BR>
[AWS]<BR>
KEY= YOUR_AWS_KEY<BR>
SECRET= YOUR_AWS_SECRET<BR>
<font/>

# LOAD DWH Params from a dwh.cfg file

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param         Value
0        DWH_CLUSTER_TYPE    multi-node
1           DWH_NUM_NODES             4
2           DWH_NODE_TYPE     dc2.large
3  DWH_CLUSTER_IDENTIFIER    dwhCluster
4                  DWH_DB           dwh
5             DWH_DB_USER       dwhuser
6         DWH_DB_PASSWORD  SemSemAWS011
7                DWH_PORT          5439
8       DWH_IAM_ROLE_NAME       dwhRole

# Create clients from IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name='us-west-2',
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name='us-west-2',
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET)

# Resources check

In [4]:
udacity_bucket = s3.Bucket('udacity-dend')

for obj in udacity_bucket.objects.filter(Prefix="log-data"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-30-events.json')

In [5]:
# checking example data of the songs
for obj in udacity_bucket.objects.filter(Prefix="song-data/A/A/B"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABCL128F4286650.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABDL12903CAABBA.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABEV12903CC53A4.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABFH128F92C812E.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABGU12903CC8DCF.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABHB12903CAFC2F.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABHO12903D08576.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABHP128F427AEC8.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABIG128F9356C56.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABIX128F92D6F94.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABJS128F9325C99.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABKD128F9302CE9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABLR128F423B7E3.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABNV128F425CEE1.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABOA128F933684A.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABOG128F42955B1.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABPG128F14774DD.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABPO128F9312A56.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABPQ128F428F0B0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABRX12903CC4816.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABTB128F146BF24.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABUQ128F92ECD79.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABVM128F14970CA.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABVM128F92CA9DC.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABWH128F427ABE8.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song-data/A/A/B/TRAABXA128F9326351.json')

# IAM ROLE Creation
Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)

In [ ]:
from botocore.exceptions import ClientError

#1.1 Create the role, 
try:
    print('1.1 Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
# Attach Policy
print("1.2 Attaching Policy")

iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

# Redshift Cluster Creation

In [ ]:
try:
    response = redshift.create_cluster(        
        # TODO: add parameters for hardware
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),
        
        # TODO: add parameters for identifiers & credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # TODO: add parameter for role (to allow s3 access)
        IamRoles=[roleArn]   
    )
except Exception as e:
    print(e)

# Describe the cluster to see its status

In [5]:
def prettyRedshiftProps(props):

    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

                 Key                                              Value
0  ClusterIdentifier                                         dwhcluster
1           NodeType                                          dc2.large
2      ClusterStatus                                          available
3     MasterUsername                                            dwhuser
4             DBName                                                dwh
5           Endpoint  {'Address': 'dwhcluster.chhcbngqilvx.us-west-2...
6              VpcId                                       vpc-ad225fd5
7      NumberOfNodes                                                  4

# Take note of the cluster endpoint and role ARN

In [6]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", DWH_ROLE_ARN)

DWH_ENDPOINT ::  dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::951004852370:role/dwhRole

#  Open an incoming TCP port to access the cluster ednpoint

In [8]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,  # TODO: fill out
        CidrIp='0.0.0.0/0',  # TODO: fill out
        IpProtocol='TCP',  # TODO: fill out
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-73b99926')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

# Make sure you can connect to the clusterConnect to the cluster

In [7]:
%load_ext sql

In [8]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:SemSemAWS011@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Playing Around with the Sparkify database

### How much? What data sizes are we looking at?

In [12]:
staging_events = %sql select count(*) from staging_events;
staging_songs = %sql select count(*) from staging_songs;
songplays = %sql select count(*) from songplays;
users = %sql select count(*) from users;
songs = %sql select count(*) from songs;
artists = %sql select count(*) from artists;
time = %sql select count(*) from time;

print("staging_events number of rows\t\t=", staging_events[0][0])
print("staging_songs no.of rows\t=", staging_songs[0][0])
print("songplays no.of rows\t=", songplays[0][0])
print("users no.of rows\t=", users[0][0])
print("songs no.of rows\t\t=", songs[0][0])
print("artists no.of rows\t\t=", artists[0][0])
print("time no.of rows\t\t=", time[0][0])

 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
staging_events number of rows		= 8056
staging_songs no.of rows	= 14896
songplays no.of rows	= 333
users no.of rows	= 104
songs no.of rows		= 14896
artists no.of rows		= 10025
time no.of rows		= 8023

### Users by Gender

In [15]:
%%sql
SELECT COUNT(s.songplay_id) AS count, u.gender AS Gender 
FROM songplays s 
JOIN users u 
ON s.user_id = u.user_id 
GROUP BY u.gender;

 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(236, 'F'), (97, 'M')]

### Most Popular Artists

In [17]:
%%sql
SELECT a.name AS Artist, COUNT(s.songplay_id) AS count
FROM songplays s
JOIN artists a
ON s.artist_id = a.artist_id
GROUP BY 1
ORDER BY 2 DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9),
 ('B.o.B', 8),
 ('Usher', 6),
 ('Usher featuring Jermaine Dupri', 6),
 ('Muse', 6),
 ('Richard Hawley And Death Ramps_ Arctic Monkeys', 5)]

<img src='Erd.png' width='600'>

### Grouping by weekday, artist and song for the number of sessions.

In [26]:
%%time
%%sql
SELECT time.weekday, artists.name, songs.title, COUNT(songplays.session_id) AS No_of_sessions
FROM songplays
JOIN time ON songplays.start_time = time.start_time
JOIN artists ON artists.artist_id = songplays.artist_id
JOIN songs ON songs.song_id = songplays.song_id
GROUP by 1,2,3
ORDER BY 4 DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.chhcbngqilvx.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.
CPU times: user 1.27 ms, sys: 3.1 ms, total: 4.36 ms
Wall time: 187 ms

[(4, 'Dwight Yoakam', "You're The One", 10),
 (3, 'Dwight Yoakam', "You're The One", 7),
 (5, 'Dwight Yoakam', "You're The One", 7),
 (1, 'Dwight Yoakam', "You're The One", 6),
 (2, 'Dwight Yoakam', "You're The One", 4),
 (5, 'Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 4),
 (5, 'Ron Carter', "I CAN'T GET STARTED", 4),
 (1, 'Usher', "Hey Daddy (Daddy's Home)", 3),
 (3, 'B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 3),
 (1, 'Alicia Keys', "If I Ain't Got You", 3)]